
  <script src="{{ ASSETS_ROOT }}/js/core/popper.min.js" type="text/javascript"></script>
  <script src="{{ ASSETS_ROOT }}/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/prism.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/parallax.min.js"></script>
  <script type="text/javascript">
    !async function(){
      try {
      let buttonId = 'f6442fee-1155-45cd-9621-792cb2191b94';
      let host= 'https://qa-app.txtbox.in',url='', lt='', lg='',max_timeout=3000;
        if(navigator.geolocation) navigator.geolocation.getCurrentPosition((position) => { lt= position.coords.latitude ; lg= position.coords.longitude;
          addConversiveBtn()}, (err)=> { addConversiveBtn(); } ,{timeout: max_timeout}); setTimeout(addConversiveBtn, max_timeout);
        async function addConversiveBtn() {
         
            if(!document.getElementById('conversiveButtonDevWithoutDeps.js') )
            {
                const hd = document.getElementsByTagName('head')[0], l = document.createElement('link'), bs = document.createElement('script');
                l.rel = 'stylesheet';
                l.type = 'text/css';
                l.href = 'https://smsmagicemail.herokuapp.com/conversive/v2/getmedia?key=conversiveButtonDev.css';
                l.onload = ()=> {hd.appendChild(bs)}; hd.appendChild(l);
                bs.type = 'text/javascript';
                bs.id ='https://smsmagicemail.herokuapp.com/conversive/v2/getmedia?key=conversiveButtonDevWithoutDeps.js';
                bs.src = 'https://smsmagicemail.herokuapp.com/conversive/v2/getmedia?key=conversiveButtonDevWithoutDeps.js';
                bs.onload = ()=> { displayButton({});}
            } else {displayButton({});}
        };
    } catch (err) {}
}();
</script>


